	/* * {
		padding: 0px;
		margin:0px;
		background-color: white;
		font-family: Arial, Helvetica, sans-serif;
	}*/
	#Contenedor{
		width: 80%;
		height: 43.5em;
		margin: auto;
	}
	#cabecera{
		margin: auto;
		width: 80%	;
	}
	.titulo{
		background-color: #405;
		font-family: Arial, Helvetica, sans-serif;
		color: white;
		width: 50%;
	}
/*
	header{
		float: left;
		margin: auto;
		width: 20%;
		height: 7em;
		font-family: Arial, Helvetica, sans-serif;
		background-color: #405;
			
	}*/
	img{
		float: left;
		margin-right: 8%;
		background-color: #405;
	}
	/******************MENU**********/
	/*
	nav{
		clear: right;
		margin: auto;			
		background-color: #405;
		width: 100%;
		height: 7em;
		
		
	}*/
	ul,ol{
		list-style: none;
	}/*
	nav li a {
		background-color: #000;
		color: #ffff;
		text-decoration: none;
		padding: 10px 15px;
		display: block;

	}
		
	nav li a:hover{
		background-color:#434343; 
	}*/
	
	ul li{
		float:left;
	}/*
	nav li ul{
		display: none;
		position: absolute;
		min-width: 140px;
	}
	nav li:hover >ul {
		display: block;
		}
	nav li ul li {
		position : relative;
	}
	*****************/
	main{
		clear:left;
		background-color: white;
		width: 80%;
		height: 26em;
		margin:auto;
	}
	article{		
		width: 70%;
		background-color: white;
		float: left;
		height: 26em;
		overflow:scroll;
	}
	aside{
		float: right;
		width: 30%;
		background-color: white;
		height: 26em;
		overflow:scroll;
	}
	footer{
		font-size: 0.8em;
		color: white;
		clear: left;
		width: 80%;
		height: 4em;
		background-color: #181818;
		margin: auto;
	}

	#playlist {
    display:table;
	}

	#playlist li{
	    cursor:pointer;
	    padding:8px;
	}

	#playlist li:hover{
	    color: white	;                        
	}
	#videoarea {
	    float:left;
	    width: 450px;
	    height:400px;
	    margin:10px;    
	}

	#formulario{
		margin-left: 2em;
		float: left;
		
		width: 9em;
		background-color: #405;
	}
	#login_form, #inicio, #title, #boton, #reg{
		background-color: #405;
		color: white;
	}